<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      debounce="600"
      [formControl]="searchEvents"
      placeholder="Search"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>{{ count() }}</div>
  <div>{{ page() }}</div>
  @if (events().length) {

    @for (event of events(); track event.id) {

    <event-card [event]="event" (deleted)="deleteEvent(event)"></event-card>
    }
    } @else {
    <h2>No hay eventos</h2>
    }

    <ion-infinite-scroll
    #infinite
    (ionInfinite)="loadMoreEvents(infinite)"
    [disabled]="finished"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
